.seguimiento-row {
	position: relative;
	display: flex;
	flex-direction: row;
	background-color: transparent;
	padding: 0px 15px 5px 15px;
	align-items: center;
	cursor: pointer;
}
.seguimiento-row-header {
	padding: 10px 0 10px 0;
}
.seguimiento-row::before {
	content: ' ';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/*box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2), 0px 4px 2px 0px rgba(0, 0, 0, 0.14),
		0px 3px 1px -2px rgba(0, 0, 0, 0.12);*/
	opacity: 0;
	transition: opacity 300ms;
}
.seguimiento-row:hover::before {
	opacity: 1;
	/*border: 1px solid #233a79;*/
	box-shadow: rgb(210, 211, 214) 0rem 0.125rem 0.5rem 0.0625rem;
}
